@{
    ViewBag.Title = "Contact Centric";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    1215 Lyons Rd Building F<br />
    Dayton, OH, 45458<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567
</address>

<address>
    <a href="https://centricconsulting.com/about-us/careers/job-openings/">Apply for a job here</a><br />
</address>