@{
    ViewBag.Title = "Home Page Centric Team 4";
}

<div class="jumbotron">
    <h1> Centric Consulting</h1>
    <p class="lead">Digital, business and technology consulting for business resilience</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>About Centric</h2>
        <p>
            Not only do these blocks serve as our model for consulting, 
            but they’ve created a culture that values team unity and collaboration. 
            We enjoy working together, alongside you, to create personalized solutions for your business.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/">More about Centric &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Upcoming Events</h2>
        <p>
            We believe events can help our employees gain a better understanding and exploite additional 
            connections. Are you interested in our news and upcoming events? Click below to find out more!
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/news-and-events/">News & Events &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nominate an employee for recognition</h2>
        <p>
            Employees that do an outstanding job representing Centric's core value deserve recognition.
            Suggest an employee if you think they deserve an acknowledgement of their work. 
        </p>
    </div>
    <div class="col-md-3">
        <h2>Centric's Core Values</h2>
        <p>Centric has many core values that they want to recognize their employees for. Learn more at their link below. </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
        @Html.ActionLink("CoreValues", "CoreValues", "Home")


    </div>
</div>