
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Authenicated</h2>
    User does not have access - request not saved
</div>
<br />      @Html.ActionLink("Return to home", "Index", "Index")

