
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>I'm sorry - you do not have access. </h2>
    <br />
    <br />
    <h4>However, you are able to perform these actions on your own profile. </h4>
</div>
<br />      @Html.ActionLink("Return to home", "Index", "Home")


